In [2]:
library("stringr")

In [3]:
str_length("abc")

[1] 3

In [4]:
nchar("abc")

[1] 3

In [5]:
x = c("dddfdfd", "iefefe")

In [6]:
str_sub(x, 2,-2)

[1] "ddfdf" "efef"

In [7]:
str_sub(x, 2,-2) = "we"

In [8]:
x

[1] "dwed" "iwee"

In [10]:
str_dup(x,c(2,3))

[1] "dweddwed"     "iweeiweeiwee"

In [11]:
str_pad(x, 10,"both")

[1] "   dwed   " "   iwee   "

In [12]:
str_pad(x, 10,"both")%>%str_trim()

[1] "dwed" "iwee"

In [13]:
str_to_upper(x)

[1] "DWED" "IWEE"

In [14]:
str_to_title(x)

[1] "Dwed" "Iwee"

In [ ]:
str_to_upper(x)

In [19]:
str_order(x)

[1] 1 2

In [20]:
str_sort(x)

[1] "dwed" "iwee"

 ## Pattern matching
 
 detect
 
 locate
 
 extract
 
 match
 
 replace
 
 split

In [30]:
strings = c("apple","219 733 9876",
            "219-733-9876",    
            "work: 219 733 9876; home: 219.733.9876")


phone_pattern = "([2-9][0-9]{2})[- .]([0-9]{3})[- .]([0-9]{4})"

In [31]:
str_detect(strings, phone_pattern)

[1] FALSE  TRUE  TRUE  TRUE

In [32]:
str_subset(strings, phone_pattern)

[1] "219 733 9876"
[2] "219-733-9876"
[3] "work: 219 733 9876; home: 219.733.9876"

In [33]:
str_count(strings, phone_pattern)

[1] 0 1 1 2